.nav {
  width: 30%;
  background-color: aquamarine;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* .link.active{
  color:red;
} */
.active {
  color: red !important;
  text-decoration: none ;
}
.item{
  color: #fff;
  text-decoration: none ;
}