.photo_block {
    position: relative;
    height: fit-content;
}

.photo {
    height: 300px;
    width: 300px;
}

.islookingForAJob {
    position: absolute;
    height: 20px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    /* margin-bottom: 7px; */
    background: radial-gradient(rgba(70, 112, 49, 1), rgba(253, 254, 255, 0.0));
    color: #fff;
}

input[type="file"] {
    display: none;
}

.input_new_photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 15px;
    display: flex;
    cursor: pointer;
    border-radius: 14px;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(68, 123, 186, 0.5);
}
@media (max-width: 450px) {
    .photo {
        height: auto;
        width: 100%;
    }
}