.block{
  display: flex;
}

textarea {
  resize: none;
  height: auto;
  outline: none;
  border:0px;
  width: 100%;
}
.photo_user{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 12px;
}
.btn{
  height: 28px;
  
}