.profile_img {
  height: 20px;
  width: 200px;
}

.btn_indent {
  margin-right: 7px;
}

.textarea_block textarea {
  cursor: inherit !important;
  resize: none;
  outline: none;
  border: 0px !important;
  width: 100%;
}