.btn {
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    height: auto;
    border-radius: 12px;
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 600;
    width: auto;
    white-space: nowrap;
}
.btn:disabled{
    background-color: #95a3b3;
    color: #fff;
    cursor: auto;
}
.btn_small {
    height: 22px;
    font-size: 12px;
}

.colorful {
    background-color: #447bba;
    color: #fff;
}

.muted {
    background-color: #e5ebf1;
    color: #346297;
}