.header {
    /* background-color: #fff; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_block {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: 0 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desctop_btn {
    display: block;
}

.header_logo {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.header_text {
    /* color: black; */
    font-size: 20.5px;
    margin-right: 20px;
}

.header_login {
    color: black;
    font-size: 20.5px;
    margin-right: 10px;
}

.mobile_mune {
    display: none;
}

.mobile_menu_btn {
    border: 0px;
    background-color: transparent;

}

.mobile_menu_btn img {
    height: 40px;
    width: 40px;
}
.mobile_menu{
    background-color: #fff;
    width: 100%;
    padding: 20px;

}
@media (max-width: 550px) {
    .desctop_btn {
        display: none;
    }

    .mobile_mune {
        display: block;
    }
}