body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family:'Times New Roman', Times, sans-serif ;

}
#root{
  min-height: 100vh;
}
.profile-img{
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dce1e6 ;
}
.row {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  max-width: 900px;
  margin: 0px auto;
}
.content_block {
  width: 70%;
  flex-grow: 1;
  box-sizing: border-box;
}
.content {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 14px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 10px;
  height: auto;
}