.content {
  width: 70%;
  background-color: burlywood;
  height: 100%;
}
.profile-img{
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  display: flex;
  width: 100%;
  min-height: 100%;
}
