.profile_img{
  height: 20px;
  width: 200px;
}
.photo{
  height: 20px;
  width: 20px;
}
.btn{
  border:0px;
  border-radius: 20px;
  cursor: pointer;
}
.unfollow{
  
}
.follow{
  background-color: rgb(37, 117, 247);
  color: #fff;
}
.select{
  color:blueviolet;
  font-size: 20px;
  cursor: pointer;
}
.item{
  color: blue;
  cursor: pointer;
}